@mixin background($img) {
	background-image: url("/app/themes/usefaketheme/dist/images/" + $img);
}

@mixin mobile_font($font_size) {
	@media (max-width: 575px) {
		font-size: $font_size + px;
	}
}

@mixin responsive_font($font_size) {
	@media (min-width: 576px) and (max-width: 1919px) {
		font-size: $font_size + vw;
		line-height: $font_size + vw;
	}
}

@mixin large_screen_font($font_size) {
	@media (min-width: 1920px) {
		font-size: $font_size + px;
	}
}

@font-face {
  font-family: Arame;
  src: url(../fonts/Arame-Regular.otf);
}

@font-face {
  font-family: ProximaNova;
  src: url(../fonts/ProximaNovaRegular.otf);
}

@font-face {
	font-family: ProximaNovaBold;
	src: url(../fonts/ProximaNovaBold.otf);
}

@font-face {
	font-family: WendyOne;
	src: url(../fonts/WendyOne-Regular.ttf);
}

@font-face {
	font-family: Acme;
	src: url(../fonts/Acme-Regular.ttf);
}

@font-face {
	font-family: MeriendaOne;
	src: url(../fonts/MeriendaOne-Regular.ttf);
}

@font-face {
	font-family: Orbitron;
	src: url(../fonts/Orbitron-Regular.ttf);
}

* {
	box-sizing: border-box;
}

body {
    background: #f3f3f3;
    color: #333333;
    font-family: ProximaNova; 
    word-wrap: break-word;
    position: relative;

    &.preload * {
		-webkit-transition: none !important;
		-moz-transition: none !important;
		-ms-transition: none !important;
		-o-transition: none !important;
    }
}

.section {
	height: 100%;
	overflow: hidden;
	position: relative;
}

.__section-title {
	position: absolute;
	width: 100%;
	bottom: 0;
	left: 0;
	font-size: 4vw;
	font-family: MeriendaOne;
	margin: 0;
    padding-left: 3vw;
	text-shadow: -4px 3px rgba(255, 255, 255, 0.5);

	&:after {    
		content: '';
		position: absolute;
		width: 50vw;
		height: 6vw;
		left: 0;
		bottom: 0;
		z-index: -99;
		background-image: linear-gradient(90deg,#0096e8,#45b9f4 51%,#0096e8);
		background-size: 200% auto;
		background-position: 100%;
		-webkit-transition: background-position .5s;
		-o-transition: background-position .5s;
		transition: background-position .5s;
	}

	&:hover {
		&:after {
			background-position: 0%;
		}

		.__ribbon {
			border-color: #45b9f4 transparent transparent transparent;
		}
	}

	.__ribbon {
		position: absolute;
		width: 7vw;
		height: 6vw;
		bottom: 0;
		left: 49vw;
		border-style: solid;
		border-width: 6vw 6vw 0 0;
		border-color: #0096e8 transparent transparent transparent;
		-webkit-transition: border-color .5s;
		-o-transition: border-color .5s;
		transition: border-color .5s;

		&:after {
			content: '';
			position: absolute;
			width: 7vw;
			height: 6vw;
			bottom: -0.75vw;
			left: 0;
			border-style: solid;
			border-width: 6vw 6vw 0 0;
			z-index: -99;
			border-color: rgba(0,0,0,0.5) transparent transparent transparent;
		}
	}

	.__white-border {
		position: absolute;
		left: 0;
		bottom: 0;
		width: 56vw;
		height: 5.8vw;
		border-top: 0.3vw solid white;
		border-right: 0.3vw solid transparent;
	}
}

.__section-wrapper {
	min-height: 80vh;	
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgba(0,0,0,0.2); 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.__temp-wip-1 {
	position: absolute;
	top: 0;
	left: 0;
	width: 20vw;
	transform: rotateZ(-90deg);
}

.__temp-wip-2 {
	position: absolute;
	top: 0;
	right: 0;
	width: 20vw;
}

.__temp-wrapper {
	position: relative;
	text-align: center;
	width: 80vw;
	margin: auto;

	.__temp-icon {
		display: inline;
		width: 20vw; 
	}

	.__temp-title {
		display: inline;
		font-size: 3vw;
		font-family: Acme;
		position: relative;

		&:after {
			content: '';
			width: 20vw;
			height: 5vw;
			background: rgba(0,0,0,0.2);
			position: absolute;
			bottom: -3vw;
			left: -0.5vw;
			border-radius: 80%;
			transform: rotateX(75deg);
		}
	}
}